.idea/misc.xml
.class
/data/user
*.iml
*.jar
.idea/codeStyles/codeStyleConfig.xml
.idea/libraries/junit_junit_4_12.xml
.idea/libraries/telegrambots_4_1_jar_with_dependencies.xml
.idea/workspace.xml
.idea/workspace.xml
*.iml
.idea/workspace.xml
*.jar
.idea/workspace.xml
JokeBot.iml
.idea/workspace.xml
